.product_detail {
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.product__detail {
	display: flex;
	align-items: center;
}

.product_image img {
	max-width: 100%;
	height: auto;
	border: 1px solid #ddd;
	border-radius: 8px;
}

.product_content {
	margin-left: 20px;
}

.product_content h2 {
	font-size: 28px;
	color: #333;
	margin-bottom: 10px;
}

.product_content p {
	font-size: 16px;
	color: #666;
	margin-bottom: 8px;
}


.product_info {
	margin-top: 20px;
	border-top: 1px solid #ddd;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

.product_info p {
	font-size: 18px;
	color: #333;
	margin: 0;
}

.product_info span {
	font-weight: bold;
}

.product_actions {
	margin-top: 20px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.add_to_cart_button,
.buy_now_button {
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
}

.add_to_cart_button:hover,
.buy_now_button:hover {
	background-color: #45a049;
	color: white;
}