

/*header */

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style: none;
}

header {
	border-bottom: 1px solid #ddd;
}

header>div {
	width: 90%;
	height: 180px;
	margin: 0 auto;
}

header .logo {
	float: left;
}

header .logo img {
	height: 150px;
	margin-top: 10px;
}

header .gnb {
	float: right;
	margin-right: 10%;
	margin-top: 50px;
}

header .gnb li {
	display: inline-block;
	margin-top: 50px;
	margin-left: 30px;
}

header .gnb li:first-child {
	margin-left: 0;
}

/*index */


.button-container {
	text-align: center;
}

.button {
	display: inline-block;
	margin: 100px;
	margin-top: 10%;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	background: #444;
	color: #ddd;
	line-height: 50px;
}

.button img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}








